*/.gradle
*/*/.gradle
*/*/*/.gradle
*/*/*/*/.gradle

*/.settings
*/*/.settings
*/*/*/.settings
*/*/*/*/.settings

*/bin
*/*/bin
*/*/*/bin

*/.classpath
*/*/.classpath
*/*/*/.classpath

*/.project
*/*/.project
*/*/*/.project

#data-buried-point