*/.gradle
*/*/*/.gradle
*/*/*/*/.gradle

*/build
*/*/build
*/*/*/build
*/*/*/*/build

*/.settings
*/*/*/.settings
*/*/*/*/.settings

*/bin
*/*/*/bin

*/.classpath
*/*/*/.classpath

*/.project
*/*/*/.project

#data-buried-point