*/.gradle
*/*/*/.gradle
*/*/*/*/.gradle

*/.settings
*/*/*/.settings
*/*/*/*/.settings

*/bin
*/*/*/bin

*/gradle
*/*/*/gradle

*/.classpath
*/*/*/.classpath

*/.project
*/*/*/.project

#data-buried-point